version: 1.0.{build}
image: Visual Studio 2017
environment:
  WEBHOOK_URL:
    secure: iGW1I2Gs3o0hzHyPPRhbvnbfhMY1qIjcCMVUeBguWgAj3Dd7hKO3doEj8Q07J8e0doAPBCJUBwlUbt0ECxyLN+fMK5VYU3RxS6vgh66hisQkdgVSegWM76pfzV3mE32BNewsJlW6ngxOZ2GIaRWUOetw/HWWbBIDOE5CEMAJoTg=
before_build:
- ps: cd GDEdit; dotnet restore
build:
  project: GDEdit/GDEdit.sln
  publish_nuget: true
  publish_nuget_symbols: true
  include_nuget_references: true
  publish_core_console: true
  parallel: true
  verbosity: minimal
on_success:
- ps: >-
    Invoke-RestMethod https://raw.githubusercontent.com/AltenGD/appveyor-discord-webhook/master/send.ps1 -o send.ps1

    ./send.ps1 success $env:WEBHOOK_URL
on_failure:
- ps: >-
    Invoke-RestMethod https://raw.githubusercontent.com/AltenGD/appveyor-discord-webhook/master/send.ps1 -o send.ps1

    ./send.ps1 failure $env:WEBHOOK_URL
